parameters:
    paths:
        - src
        - tests/app
    excludePaths:
        - tests/app/migrations.php
        - tests/app/routes.php
    level: 6
    checkGenericClassInNonGenericObjectType: false
